# Ignore Python cache and logs
__pycache__/
*.pyc
*.log

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Datasets
data/
*.pkl
*.npz
*.npy

# Model checkpoints
*.pt
*.pth
*.ckpt
*.onnx
*.bin

# Results, logs, temp files
runs/
results/
logs/
*.tar
*.zip

# Ignore environment files
.env/
.venv/
env/
