# Ignore Python cache and logs
__pycache__/
*.pyc
*.log

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore data and model files
data/
*.pt
*.pkl

# Ignore environment files
.env/
.venv/
env/
